body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: red;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

ul li {
    display: inline;
    float: left;
}

button {
    width: 100px;
    height: 100px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}